<div class="container">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-12" style="text-align: center">
            <input type="text" class="search-query form-control" placeholder="Search With Email Address"  name="email"/>
            <div class="input-group-btn">
                <button class="btn btn-danger" type="button">
            <span class=" glyphicon glyphicon-search"></span>
                </button>
            </div>
                </div>
                    </div>
    </div>
    </div>
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>id</th>
            <th>ProductID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p in product">
            <td>{{product.id}}</td>
            <td>{{product.productId}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteproduct(product.id)" ><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          </tr>
    </tbody>
    </table>
    </div>
</div>
